.page {
  min-height: 100vh;
  background-color: #19242e;
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

.container {
  max-width: 800px;
  width: 100%;
  color: #e6edf3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, sans-serif;
  line-height: 1.7;
}

/* Main header */
.container h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

/* Sub headers */
.container h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

/* Paragraphs */
.container p {
  font-size: 1.04rem;
  margin-bottom: 1rem;
  opacity: 0.95;
  letter-spacing: 0.03em;
  color: #b6bbbf;
}

.container ul {
  list-style: disc;
  padding-left: 1.25rem;
  margin-top: -8px;
  /* margin: 1rem 0 1.5rem; */
}

.container li {
  font-size: 1.04rem;
  opacity: 0.95;
  color: #b6bbbf;
}
